
$font-size-base: 16px;
$font-size-normal: #{$font-size-base * 2};
$font-size-big:  $font-size-base * 4.5; /* можно писать без скобочек { } но не рекомендуется */

$font-color-base: #494646;
$font-color-one: #ffffff;
